.master {
    height: 4000px;
    background: linear-gradient(168deg, rgb(1, 6, 37) 0%, rgba(20,3,80,1) 30%, #ba1e6b 66%, #5344A9 70%, rgb(12, 17, 39) 100%);
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.heroContainer {
    max-width: 1100px;
    display: inline-flex;
    margin: auto;
}

.landingPageLogoWrapper {
    height: 475px;
    width: 475px;
    transition: transform 0.4s;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 75px;
}

.landingPageLogoWrapper:hover {
    transform: scale(1.02);
}

.heroText {
    position: relative;
    font-size: 40px;
    color: white;
    font-family: 'K2D', sans-serif;
    top: 175px;
    text-align: left;
    max-width: 480px;
    left: 75px;
}

.aboutUs {
    max-width: 1100px;
    display: inline-flex;
    margin: auto;
}

.puppyWrapper {
    aspect-ratio: calc(3/2);
    height: 375px;
    width: 475px;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50px;
    top: 75px;
}

.puppyWrapper[shakePuppy = '1'] {
    animation: shake 0.4s;
}

.aboutUsTextWrapper {
    position: relative;
    text-align: left;
    width: 500px;
    right: 75px;
}

.aboutUsHeaderText {
    color: white;
    font-family: 'K2D', sans-serif;
    font-size: 52px;
    text-align: left;
    padding-bottom: 25px;
}

.aboutUsParagraphText {
    color: white;
    font-family: 'K2D', sans-serif;
    font-size: 20px;
    text-align: left;
    padding-bottom: 10px;
}

.formLink {
    color: white;
}

.eventCalendar {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 300px;
}

.sectionHeaderText {
    color: white;
    font-family: 'K2D', sans-serif;
    font-size: 52px;
    text-align: center;
    padding-bottom: 75px;
}

.eventCalendarCards {
    height: 250px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.eventCard {
   border: 5px solid white;
   border-radius: 2%;
   height: 525px;
   background: white;
   transition: transform 0.4s;
   box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 48px;
   margin-left:35px;
   margin-right: 50px;
}

.eventCard:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 60px;
}

.eventCardImage {
    height: 450px;
    width: 275px;
    border-radius: 3%;
    padding-bottom: 10px;
}

.cardTitleText {
    font-size: 18px;
    font-family: 'K2D', sans-serif;
}

.cardDateText {
    font-size: 16px;
    font-family: 'K2D', sans-serif;
}

.headshotsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.headshotsRow {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 50px;
}

.headshot {
    height: 250px;
    width: 175px;
    background-color: white;
    border: 5px solid white;
    border-radius: 2%;
    transition: transform 0.4s;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 48px;
    margin: 0px 25px 0px 25px;
}

.headshot:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 60px;
}

.headshotImage {
    height: 190px;
    width: 175px;
    border-radius: 2%;
}

.headshotNameText {
    margin-top: 5px;
    font-size: 15px;
    font-family: 'K2D', sans-serif;
}

.headshotTitleText {
    font-size: 12px;
    font-family: 'K2D', sans-serif;
}

.linksContainer {
    display: flex;
    justify-content: center;
    height: 100px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 100px;
}

.linkWrapper {
    height: 75px;
    width: 200px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: transform 0.4s;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 48px;
}

.linkWrapperGmail {
    cursor: pointer;
    height: 75px;
    width: 200px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: transform 1s;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 48px;
}

.linkWrapperGmail[shakeGmail = '1'] {
    animation: shake 0.4s;
}

.linkWrapperDiscord {
    cursor: pointer;
    height: 75px;
    width: 200px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: transform 1s;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 48px;
}

.linkWrapperDiscord[shakeDiscord = '1'] {
    animation: shake 0.4s;
}

.linkWrapperZoom {
    cursor: pointer;
    height: 75px;
    width: 200px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: transform 1s;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 48px;
}

.linkWrapperZoom[shakeZoom = '1'] {
    animation: shake 0.4s;
}

/* .linkWrapperGmail[highlight='2'] {
    outline: 2px solid #FFD700;
    border-radius: 2%;
} */

@keyframes highlight {
    0% {
        outline: 0px solid #FFD700;
    }
    25% {
        outline: 0.5px solid #FFD700;
    }
    50% {
        outline: 1px solid #FFD700;
    }
    75% {
        outline: 1.5px solid #FFD700;
    }
    100% {
        outline: 2px solid #FFD700;
    }
}

@keyframes shake {
    0%  { transform: translate(2px, 1px)   rotate(0deg);  }
    10% { transform: translate(-1px, -2px) rotate(-2deg); }
    20% { transform: translate(-3px, 0px)  rotate(3deg);  }
    30% { transform: translate(0px, 2px)   rotate(0deg);  }
    40% { transform: translate(1px, -1px)  rotate(1deg);  }
    50% { transform: translate(-1px, 2px)  rotate(-1deg); }
    60% { transform: translate(-3px, 1px)  rotate(0deg);  }
    70% { transform: translate(2px, 1px)   rotate(-2deg); }
    80% { transform: translate(-1px, -1px) rotate(4deg);  }
    90% { transform: translate(2px, 2px)   rotate(0deg);  }
    100%{ transform: translate(1px, -2px)  rotate(-1deg); }
}

.linkWrapper:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 48px;
    transform: scale(1.02);
}

.linkImageWrapper {
    height: 40px;
    width: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.gmailImageWrapper {
    height: 40px;
    width: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.zoomImageWrapper {
    height: 50px;
    width: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.discordImageWrapper {
    height: 50px;
    width: 45px;
    padding-left: 10px;
    padding-right: 10px;
}

.linkText {
    font-size: 24px;
    font-family: 'K2D', sans-serif;
    padding-left: 15px;
}

.footer {
    height: 100px;
}

.githubLinkText {
    text-decoration: none;
    color: black;
}

.copyTextAlert {
    position: relative;
    top: -100px;
    font-size: 24px;
    font-family: 'K2D', sans-serif;
    color: white;
}
