.topBarContainer {
    background-color: #00062fd0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 90px;
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 10;
}

.heading {
    margin: auto;
    height: 75px;
    display: flex;
    justify-content: flex-end;
}

.menuItem {
    margin: 25px 75px 25px 75px;
    font-family: 'K2D', sans-serif;
    font-weight: 75px;
    font-style: light;
    font-size: 18px;
    background-color: transparent;
}

.menuItemText {
    display: inline-block;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-family: 'K2D', sans-serif;
}

.menuItemText:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.75px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menuItemText:hover:after {
transform: scaleX(0.75);
transform-origin: bottom left;
}

